html,
body {
    text-align: center;
}

p {
    text-align: left;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    text-align: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    background-image: url(background.png);
    background-repeat: repeat-x;
}

* {
    margin: 0 auto 0 auto;
    text-align: left;
}

#header {
    background-image: url(tab.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 427px;
    margin-left: 42px;
    margin-top: 88px;
    padding-top: 18px;
}

#header .logo {
    height: 100px;
    width: 72px;
    background-image: url(cefet.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 23px;
}

#header h1 {
    margin-left: 15px;
    margin-top: 10px;
    position: relative;
    float: left;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 28;
    width: 302px;
    line-height: normal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#header h2 {
    position: relative;
    margin-left: 16px;
    margin-top: 2px;
    float: left;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 14px;
    width: 311px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#bar {
    background-image: url(repeatBackNavAlpha.png);
    background-repeat: no-repeat;
    height: 55px;
    width: 750px;
    line-height: 55px;
    padding-left: 20px;
    padding-right: 20px;
}

#bar a {
    font-size: 13px;
    font-weight: bold;
    color: #FBFDFB;
    margin-left: 28px;
    margin-right: 28px;
}

.contentTop {
    width: 519px;
    height: 29px;
    background-repeat: no-repeat;
    background-image: url(contentBoxTop.png);
}

.contentBottom {
    width: 519px;
    height: 29px;
    background-repeat: no-repeat;
    background-image: url(contentBoxBottom.png);
    margin-bottom: 15px;
}

.contentMain {
    width: 489px;
    height: auto;
    background-repeat: no-repeat;
    background-image: url(contentBoxBack.png);
    background-repeat: repeat-y;
    padding-left: 18px;
    padding-right: 12px;
}

html,
body {
    text-align: center;
}

p {
    text-align: left;
}
